<template>
    <div class="signin">
        <div class="heading">
            <img src="logo.png">
            <p>Contact Management Database</p>
        </div>

        <div class="container">
            <div class="o365" v-show="!$store.state.adminLogin">
                <h3 class="lead">Sign in with your Office 365 account</h3>
                <div class="o365-button" @click="onSignIn">
                    <img src="o365.jpg">
                </div>

                <div class="btn btn-default admin-link" @click="$store.commit('showAdminLogin')">Admin signin</div>
            </div>

            <AdminSignin v-show="$store.state.adminLogin"></AdminSignin>
        </div>
    </div>
</template>

<script>
    import { Meteor } from 'meteor/meteor';
    import { Accounts } from 'meteor/accounts-base';
    import crypto from 'crypto';
    import axios from 'axios';
    import AdminSignin from '../components/AdminSignin';

    export default {
        name: 'signin',
        methods: {
            onSignIn() {
                const clientId = '';
                const tenant = '';
                const redirectUri = '';
                const templateAuthzUrl = `https://login.windows.net/${tenant}/oauth2/authorize?response_type=code&client_id=${clientId}&redirect_uri=${redirectUri}&state=<state>`;

                crypto.randomBytes(48, function(ex, buf) {
                    const token = buf.toString('base64').replace(/\//g,'_').replace(/\+/g,'-');
                    const authorizationUrl = templateAuthzUrl.replace('<state>', token);

                    window.location.href = authorizationUrl;
                });
            }
        },
        created() {
            const params = new URL(window.location).searchParams;
            const code = params.get('code');

            if (code) Meteor.call('getAccessToken', code, (err, res) => {
                const token = JSON.parse(res);
                this.$store.commit('updateAccessToken', token);

                // get user profile info
                // const profile = axios({
                //     url: 'https://graph.microsoft.com/beta/me',
                //     method: 'get',
                //     headers: { 'Authorization': 'Bearer ' + token.accessToken }
                // }).then((res) => {
                //     console.log(res.data);
                // }).catch((err) => {
                //     console.log(err);
                // });

                // If user (Meteor account) does not exist, create user
                // Otherwise, log in user
                /*
                    Returns user object of matching email
                    @param res {object} - User object
                */
                Meteor.call('findByEmail', token.userId, (err, res) => {
                    if (!res) {
                        Accounts.createUser({
                            email: token.userId,
                            password: 'pass'
                        }, () => {
                            this.$router.push('/home');
                        });
                    } else {
                        const user = res;
                        // Check if user has gathered profile info from Graph
                        if (!user.activated) {
                            // Grab user photo from Graph, Set 'activated' to true
                            Meteor.users.update({ email: user.email }, { $set: { activated: true }});
                        }

                        Meteor.loginWithPassword(user.email, 'pass', (err) => {
                            if (!err) {
                                if (user.admin) {
                                    this.$router.push('/admin');
                                } else {
                                    params.delete('code');
                                    // This is refreshing the browser
                                    window.location.href = '/#/home';
                                }
                            }
                        });
                    }
                });
            });
        },
        components: {
            AdminSignin
        }
    }
</script>

<style scoped>
    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f7f7f7;
        border-bottom: 2px solid #afafaf;
    }

    .heading p {
        font-size: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .o365 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .o365 p {
        font-size: 16px;
        color: #334047;
    }

    .o365-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        width: 180px;
        margin-bottom: 30px;
        background-color: #eb3d01;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
        cursor: pointer;
    }

    .o365-button:active {
        position: relative;
        top: 1px;
        left: 1px;
        box-shadow: none;
        outline: none;
    }
</style>
