<template>
    <div class="user-details">
        <div class="container">
            <div class="heading">
                <span class="back-button glyphicon glyphicon-chevron-left" @click="$router.push('/admin')"></span>
                <h3 class="lead">User Details</h3>
                <div class="btn btn-primary" @click="$router.push(`/admin/edit/${id}`)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit User</div>
            </div>

            <div>
                <h4>Core Employee Information</h4>
                <ul>
                    <li>
                        <span class="label">First Name</span>
                        <span class="field">{{user.first_name}}</span>
                    </li>
                    <li>
                        <span class="label">Last Name</span>
                        <span class="field">{{user.last_name}}</span>
                    </li>
                    <li>
                        <span class="label">Status</span>
                        <span class="field">{{user.status}}</span>
                    </li>
                    <li>
                        <span class="label">Role</span>
                        <span class="field">{{user.role}}</span>
                    </li>
                    <li>
                        <span class="label">Work Title</span>
                        <span class="field">{{user.work_title}}</span>
                    </li>
                    <li>
                        <span class="label">Department</span>
                        <span class="field">{{user.department}}</span>
                    </li>
                    <li>
                        <span class="label">Location</span>
                        <span class="field">{{user.location}}</span>
                    </li>
                    <li>
                        <span class="label">Remote</span>
                        <span class="field">{{user.remote}}</span>
                    </li>
                </ul>

                <h4>Contact Information</h4>
                <ul>
                    <li>
                        <span class="label">Company Mobile Number</span>
                        <span class="field">{{user.company_mobile}}</span>
                    </li>
                    <li>
                        <span class="label">Work Phone Number</span>
                        <span class="field">{{user.company_phone}}</span>
                    </li>
                    <li>
                        <span class="label">Ext</span>
                        <span class="field">{{user.company_phone_ext}}</span>
                    </li>
                    <li>
                        <span class="label">Personal Mobile Number</span>
                        <span class="field">{{user.personal_mobile}}</span>
                    </li>
                    <li>
                        <span class="label">Personal Phone Number</span>
                        <span class="field">{{user.personal_home}}</span>
                    </li>
                    <li>
                        <span class="label">Company Email</span>
                        <span class="field">{{user.company_email}}</span>
                    </li>
                    <li>
                        <span class="label">Personal Email</span>
                        <span class="field">{{user.personal_email}}</span>
                    </li>
                    <li>
                        <span class="label">Home Address</span>
                        <span class="field">{{user.street}}</span>
                    </li>
                    <li>
                        <span class="label">Country</span>
                        <span class="field">{{user.country}}</span>
                    </li>
                    <li>
                        <span class="label">State</span>
                        <span class="field">{{user.state}}</span>
                    </li>
                    <li>
                        <span class="label">City</span>
                        <span class="field">{{user.city}}</span>
                    </li>
                    <li>
                        <span class="label">Zip/Postal</span>
                        <span class="field">{{user.postal}}</span>
                    </li>

                    <h4>Emergency Contact Information</h4>
                    <li>
                        <span class="label">First Name</span>
                        <span class="field">{{user.emg_first_name}}</span>
                    </li>
                    <li>
                        <span class="label">Last Name</span>
                        <span class="field">{{user.emg_last_name}}</span>
                    </li>
                    <li>
                        <span class="label">Relationship</span>
                        <span class="field">{{user.emg_relationship}}</span>
                    </li>
                    <li>
                        <span class="label">Work Phone</span>
                        <span class="field">{{user.emg_work_phone}}</span>
                    </li>
                    <li>
                        <span class="label">Ext</span>
                        <span class="field">{{user.emg_work_phone_ext}}</span>
                    </li>
                    <li>
                        <span class="label">Mobile Phone</span>
                        <span class="field">{{user.emg_mobile_phone}}</span>
                    </li>
                    <li>
                        <span class="label">Home Phone</span>
                        <span class="field">{{user.emg_home_phone}}</span>
                    </li>
                    <li>
                        <span class="label">Work Email</span>
                        <span class="field">{{user.emg_work_email}}</span>
                    </li>
                    <li>
                        <span class="label">Personal Email</span>
                        <span class="field">{{user.emg_personal_email}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import { Meteor } from 'meteor/meteor';
    
    export default {
        name: 'user-details',
        data() {
            return {
                id: this.$route.params.id
            };
        },
        meteor: {
            $subscribe: {
                'userProfile'() {
                    return [this.id];
                }
            },
            user() {
                return Meteor.users.findOne(this.id);
            }
        }
    }
</script>

<style scoped>
    ul {
        list-style: none;
        padding-left: 0;
    }

    li {
        display: flex;
        align-items: center;
        height: 30px;
    }

    ul > li:nth-child(2n+1) {
        background-color: #dcdfe2;
    }

    span.label {
        width: 180px;
        margin-right: 20px;
        font-size: 14px;
        font-weight: normal;
        text-align: left;
        color: #000;
    }

    .heading {
        display: flex;
        align-items: center;
    }

    .heading .btn {
        margin-left: auto;
    }
</style>
