<template>
    <div id="admin-signin">
        <div class="heading">
            <span class="back-button glyphicon glyphicon-chevron-left" @click="$store.commit('hideAdminLogin')"></span>
            <h3 class="lead">Admin Signin</h3>
        </div>

        <form id="signin-form">
            <div class="form-group">
                <input type="email" class="form-control" v-model.trim="emailInput" placeholder="Email" required>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" v-model.trim="passwordInput" placeholder="Password" required>
            </div>

            <div class="errors" v-show="errorMessages.length">
                <p v-for="error in errorMessages">{{error}}</p>
            </div>

            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>
</template>

<script>
    import { Meteor } from 'meteor/meteor';

    export default {
        name: 'admin-signin',
        data() {
            return {
                emailInput: '',
                passwordInput: '',
                errorMessages: []
            };
        },
        methods: {
            onSignIn() {
                console.log('derp');
            }
        },
        mounted() {
            const form = document.querySelector('#signin-form');
            form.addEventListener('submit', (e) => {
                e.preventDefault();
                this.errorMessages = [];
                Meteor.loginWithPassword(this.emailInput, this.passwordInput, (err) => {
                    if (err) {
                        this.errorMessages.push(err.reason);
                    } else {
                        this.$router.push('/admin');
                    }
                });
            });
        }
    }
</script>

<style scoped>
    .heading {
        display: flex;
        align-items: center;
    }
</style>
