<template>
    <div class="modal fade" id="import-file" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Import JSON / CSV</h4>
                </div>
                <div class="modal-body">
                    <input type="file" id="file" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" @click="importFile">Import</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { Accounts } from 'meteor/accounts-base';

    export default {
        name: 'import-file',
        methods: {
            importFile() {
                const file = document.querySelector('#file').files[0];

                // if (file.length) {
                //     if (file.type === 'text/csv') {
                //         Meteor.call('importCSV', function(err) {
                //             if (err) {
                //                 console.log(err);
                //             } else {
                //                 console.log('Import successful!');
                //             }
                //         });
                //     } else {
                //         console.log('File is not of type CSV.');
                //     }
                // } else {
                //     console.log('No file found.');
                // }
            }
        },
    }
</script>

<style scoped>

</style>
