<template>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" v-if="meteorUser">
                    <li><button type="button" @click="signOut" class="btn btn-default navbar-btn">Sign out</button></li>
                    <p class="navbar-text">{{meteorUser.emails[0].address}}</p>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
    import { Meteor } from 'meteor/meteor';

    export default {
        name: 'user-nav',
        meteor: {
            meteorUser() {
                return Meteor.user() ? Meteor.user() : false;
            }
        },
        methods: {
            signOut() {
                Meteor.logout();
                this.$router.push('/');
            }
        }
    }
</script>

<style scoped>

</style>
